*{
    box-sizing: border-box;
}
.main{
    display: flex;
}
.left{
    width: 500px;
    height: 630px;
    background-color: #00b894;
    margin: 0;
    padding: 0;
    position: relative;
    border: #f0f4f8 1px solid;
}
.right{
    width: 700px;
    height: 630px;
    background-color: rgb(239, 239, 239);
    position: relative;
    border: #f0f4f8 1px solid;
}
.rightcontent{
    margin-left: 20px;
    margin-top: 50px;
}
.firstname{
    display: flex;
    margin-top: 40px;
    margin-left: 110px;
    gap: 50px;
    border: none;
    height: 40px;
}
.names{
    border-radius: 10px;
    background-color: aquamarine;
    border: none;
    height: 40px;
}
.mail{
    margin-top: 20px;
    margin-left: 110px;
    border: none;
    height: 40px;
    width: 380px;
    border-radius: 10px;
    background-color: aquamarine;
    border: none;
}
.date {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 104px;
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: aquamarine;
    border: none;
}
.btn{
    color: #f0f4f8;
    background-color: rgb(37, 162, 212);
    border: none;
    border-radius: 20px;
    margin-left: 250px;
    height: 30px;
    width: 70px;
}